<h1><strong> Aqui tienes al jugador buscado </strong></h1>
<br>
<p>se trata de</p>
<br>
<br>
{{#if registros}}
	{{#each registros}}
		<p> - Numero dorsal: {{dorsal}} - Nombre: {{nombre}} - Apellido: {{apellido}} - Nacionalidad: {{nacionalidad}}</p>
	{{/each}}
{{/if}}